view{
    box-sizing:border-box;
}
// 未注册页面
.regist-title,.regist-remind{
    width:100%;
    height:60rpx;
    line-height:60rpx;
    padding:0 30rpx;
    font-size: 28rpx;
    color: #999999;
    letter-spacing: 0;
}
.pro-item{
    padding:30rpx;
    background:#fff;
    position:relative;
    .pro-name,.pro-describe{
        height:42rpx;
        line-height:42rpx;
        font-size: 30rpx;
        color: #333333;
        letter-spacing: 0;
        position:relative;
        text{
            max-width:394rpx;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            display:inline-block;
            float:left;
        }
        .pro-status{
            width:92rpx;
            height:38rpx;
            text-align:center;
            line-height:38rpx;
            background: rgba(153,153,153,0.10);
            border-radius: 2rpx;
            font-size: 26rpx;
            color: #999999;
            letter-spacing: 0;
            display:inline-block;
            margin-left:20rpx;
        }
        .pro-status.pro-registed{
            background: rgba(78,136,255,0.10);
            color: #4E88FF;
        }
        .pro-status.pro-authed{
            color:#FFA100;
            background: #fff6e5;
        }
    }
    .pro-describe{
        margin-top:20rpx;
    }
    .pro-button{
        width:148rpx;
        height:58rpx;
        text-align:center;
        line-height:58rpx;
        border: 1rpx solid #4E88FF;
        border-radius: 2rpx;
        color:#4E88FF;
        font-size:28rpx;
        position:absolute;
        right:20rpx;
        top:20%;
    }
}
.pro-toregist{
    width:690rpx;
    height:94rpx;
    text-align:center;
    line-height:94rpx;
    font-size: 32rpx;
    color: #FFFFFF;
    letter-spacing: 0;
    background: #4E88FF;
    border-radius: 4rpx;
    position:absolute;
    bottom:30rpx;
    left:30rpx;
}

// 注册流程
.regist-remind-bar{
    width:100%;
    padding:0 20rpx;
    height:97rpx;
    background: #EEF4FF;
    line-height:97rpx;
    display:flex;
    justify-content:space-around;
    align-items:center;
    .regist-remind-steps.current-step{
        .regist-remind-step{
            background: #4E88FF;
        }
        .regist-remind-text{
            color: #4E88FF;
        }
    }
    .regist-remind-steps{
        width:200rpx;
        text-align:center;
        .regist-remind-step{
            display:inline-block;
            width:30rpx;
            height:30rpx;
            background: rgba(78,136,255,0.50);
            color:#fff;
            text-align:center;
            line-height:30rpx;
            border-radius:50%;
            font-size: 24rpx;
            margin-right: 10rpx;
        }
        .regist-remind-text{
            font-size: 26rpx;
            color: #9dbdff;
            letter-spacing: 0;
            display:inline-block;
        }
    }
    .regist-remind-steps.regist-remind-horizontal{
        width:340rpx;
        position:relative;
        &::before{
            content:"";
            width:40rpx;
            height:2rpx;
            background: rgba(78,136,255,0.50);
            position:absolute;
            left:30rpx;
            top:50rpx;
        }
        &::after{
            content:"";
            width:40rpx;
            height:2rpx;
            background: rgba(78,136,255,0.50);
            position:absolute;
            right:30rpx;
            top:50rpx;
        }
    }
}
.main-success-box{
    width:100%;
    height:390rpx;
    background:#fff;
    text-align:center;
    padding:60rpx 195rpx;
    image{
        width:144rpx;
        height:144rpx;
        margin-bottom:43rpx;
    }
    .main-success-tip{
        font-size: 30rpx;
        color: #333333;
        letter-spacing: 0;
        line-height:48rpx;
    }
}
.main-remind-box{
    padding:30rpx;
    .main-remind-tips{
        font-size: 26rpx;
        color: #999999;
        line-height:38rpx;
    }
}
.main-button{
    background: #4E88FF;
    border-radius: 4rpx;
    font-size: 32rpx;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    width:690rpx;
    height:94rpx;
    line-height:94rpx;
    margin:70rpx auto;
}
.main-accont-info,.main-manage-info{
    padding-bottom:64rpx;
}
.main-title{
    font-size: 26rpx;
    color: #999999;
    padding:18rpx 30rpx;
}
.main-body{
    padding:23rpx 30rpx 0;
    background:#fff;
    position:relative;
    .main-boy-line{
        border-bottom:1rpx solid #eeeeee;
        padding-bottom:23rpx;
        position:relative;
    }
    .main-body-title{
        font-size: 26rpx;
        color: #999999;
        margin-bottom:16rpx;
    }
    .main-body-button{
        padding:10rpx 20rpx;
        border: 1px solid #CACACA;
        background: #FFFFFF;
        border-radius: 2rpx;
        font-size: 26rpx;
        color: #666666;
        display:inline-block;
        margin-right:20rpx;
    }
    .main-body-button.chosed{
        background: #4E88FF;
        border-color:#4E88FF;
        color:#fff;
    }
    .main-body-input{
        font-size: 26rpx;
        color: #333333;
    }
    .main-upload{
        width:160rpx;
        height:160rpx;
        border: 1rpx solid #CCCCCC;
        border-radius: 2px;
        position:relative;
        display:inline-block;
        &::before,&:after{
            background:#d8d8d8;
            position:absolute;
            content: '';
        }
        &::before{
            left:40rpx;
            top:77rpx;
            width:80rpx;
            height:6rpx;
        }
        &::after{
            top:40rpx;
            left:77rpx;
            width:6rpx;
            height:80rpx;
        }
    }
    .main-show-image{
        width:160rpx;
        height:160rpx;
        position:relative;
        .main-upload-image{
            width:100%;
            height:100%;
            background:pink;
        }
        .main-del-image{
            width:44rpx;
            height:44rpx;
            background:url(http://static.58.com/lbg/shangjiaxcxht/zhushou/img/main-del-img.png) no-repeat;
            background-size:100% auto;
            position:absolute;
            right:-10rpx;
            top:-10rpx;
        }
    }
    .main-body-remind{
        font-size: 26rpx;
        color: #999999;
        line-height:38rpx;
        position:absolute;
        left:220rpx;
        top:85rpx;
    }
    .main-download-button{
        border: 1rpx solid #4E88FF;
        width:156rpx;
        height:56rpx;
        text-align:center;
        line-height:56rpx;
        color:#4E88FF;
        font-size:30rpx;
        position:absolute;
        left:220rpx;
        bottom:23rpx;
    }

    .main-body-textarea{
        width:100%;
        line-height:48rpx;
        font-size: 30rpx;
    }
    .main-text-size{
        padding-bottom:20rpx;
        font-size: 24rpx;
        color: #CCCCCC;
        text-align:right;
    }
    .addArticle{
        font-size: 30rpx;
        color: #4E88FF;
        letter-spacing: 0;
        text-align: right;
        position:absolute;
        right:0;top:0;
    }
    .main-boy-line.main-body-flex {
        display:flex;
        flex-wrap:wrap;
        justify-content:start;
        align-items:center;
        .main-upload,.main-show-image{
            margin:0 0 20rpx 13rpx;
        }
    }
}
// 意见反馈
.main-body-item{
    font-size: 30rpx;
    color: #333333;
    position:relative;
    &::after{
        display:block;
        position:absolute;
        right:20rpx;
        top:7rpx;
        content:'';
        width:15rpx;
        height:26rpx;
        background:url('https://static.58.com/lbg/mengchong/image/icon/arrow-right.png') no-repeat center;
        background-size: 100%;
    }
}